<ion-header>
  <ion-navbar>
    <ion-title text-center>Nuevo Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!rechazado">

    <h3 class="titulo">Pedido</h3>
    <span class="parrafo" *ngFor="let producto of productos">{{producto.cantidadCarrito}} {{producto.nombre}}</span>
    <h3 class="titulo2">Cliente</h3>
    <span class="parrafo">{{info.cliente.apellidoPat}} {{info.cliente.apellidoMat}} {{info.cliente.nombre}}</span>
    <h3 class="titulo">Costo</h3>
    <span class="parrafo">$ {{info.subtotal}}</span>
    
    <div class="opcion">
      <button ion-button color="light" (click)="rechazar()">Rechazar</button>
      <button ion-button color="dark" (click)="aceptar()">Aceptar</button>
    </div>

  </div>


<div *ngIf="rechazado">
    <ion-item class="mensaje">
        <ion-label color="primary" floating>¿Por cual motivo lo rechazo?</ion-label>
        <ion-textarea clas></ion-textarea>
      </ion-item>
      <button class="enviar" ion-button color="dark" (click)="enviarInfo()">Enviar</button>
</div>


</ion-content>
