<ion-header>
  <ion-toolbar color="secondary">
    <ion-navbar>
      <ion-title primary>Inicio de Sesion</ion-title>
    </ion-navbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="user">
      <img class="imgUser" [src]="imgSource">
    </div>
  <form [formGroup]="formGroup">
    <ion-list class="list">
      <ion-item class="correo">
        <ion-input class="correo-input" placeholder="Correo" type="email" [(ngModel)]="userModel.email" formControlName="email" ></ion-input>
      </ion-item>
        <ion-item *ngIf="email.hasError('required') && email.touched ">
        <p>
*Valid email is required
        </p>
        </ion-item>
      <ion-item class="contraseña">
        <ion-input class="contraseña-input" placeholder="Contraseña" type="password" [(ngModel)]="userModel.password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="password.hasError('required') && password.touched">
        <p>
    *Type a valid password
        </p>
        </ion-item>

    </ion-list>
<ion-grid>
<ion-row>
  <button clear  type="submit"  [disabled]="formGroup.invalid" ion-button full (click)="iniciarSesion($event, userModel)" >
    Iniciar Sesion
</button>
</ion-row>
<ion-row>
  <button clear ion-button full color="danger" (click)="recuperarCuenta()" >
    Olvide Mi Contrasenia
</button>
</ion-row>
</ion-grid>

  </form>
</ion-content>
