<ion-header>
  <ion-navbar>
    <ion-title>Listado de negocios : {{userModel.nombreUsuario}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
    <div class="user">
        <img class="imgUser" [src]="imgSource">
        <h2 class="nomCliente">{{userModel.apellidoPaterno}} {{userModel.apellidoMaterno}} {{userModel.nombre}}</h2>
    </div>

   <h2 class="titNeg">Mi Negocio</h2> 
  <ion-list>
    <!-- <ion-item *ngFor="let biz of negocioModel" class="contNeg" (click)="negocioDetalle(biz)"> -->
    <ion-item class="contNeg" (click)="negocioDetalle(negocioModel)">
        <ion-thumbnail item-start class="logo">
            <img [src]="imgSourceNeg">
          </ion-thumbnail>
          <h2 class="nombreNeg">{{negocioModel.nombre}}</h2>
          <div class="contenedorEstrellas">
              <ion-icon class="estrella" name='star'></ion-icon>
              <ion-icon class="estrella" name='star'></ion-icon>
              <ion-icon class="estrella" name='star'></ion-icon>
              <ion-icon class="estrella" name='star'></ion-icon>
              <ion-icon class="estrella" name='star'></ion-icon>
            </div>
      </ion-item>

  </ion-list>

  <ion-fab right bottom (click)="agregarNegocio($event)">
      <button *ngIf="enableButton" ion-fab ><ion-icon class="more" name="add"></ion-icon></button>
  </ion-fab> 
</ion-content>
