<ion-header>
  <ion-navbar>
    <ion-title>Pagina de Registro</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
    <div class="user">
        <img class="imgUser" [src]="imgSource">
        <button color="light" class="camara" ion-button icon-only (click)="presentActionSheet()">
            <ion-icon class="icono" name="camera"></ion-icon>
        </button>
    </div>

<form [formGroup]="formGroup">
  <ion-list>
      <ion-item class="campo">
          <ion-input class="entrada" placeholder="Nombre" type="text" [(ngModel)]="userModel.nombre" formControlName="nombre" ></ion-input>
        </ion-item>
          <ion-item *ngIf="nombre.hasError('required') && nombre.touched ">
          <p>
    *Nombre es requerido
          </p>
          </ion-item>

          <ion-item class="campo">
              <ion-input class="entrada" placeholder="Apellido Paterno" type="text" [(ngModel)]="userModel.apellidoPaterno" formControlName="apellidoPaterno" ></ion-input>
            </ion-item>
              <ion-item *ngIf="apellidoPaterno.hasError('required') && apellidoPaterno.touched ">
              <p>
        *Apellido Paterno es requerido
              </p>
              </ion-item>

              <ion-item class="campo">
                  <ion-input class="entrada" placeholder="Apeliido Materno" type="text" [(ngModel)]="userModel.apellidoMaterno" formControlName="apellidoMaterno" ></ion-input>
                </ion-item>
                  <ion-item *ngIf="apellidoMaterno.hasError('required') && apellidoMaterno.touched ">
                  <p>
            *Apellido Materno es requerido
                  </p>
                  </ion-item>

                  <ion-item class="campo">
                      <ion-input class="entrada" placeholder="Nombre de Usuario" type="text" [(ngModel)]="userModel.nombreUsuario" formControlName="nombreUsuario" ></ion-input>
                    </ion-item>
                      <ion-item *ngIf="nombreUsuario.hasError('required') && nombreUsuario.touched ">
                      <p>
                *Nombre de Usuario es requerido
                      </p>
                      </ion-item>

                      <ion-item class="campo">
                          <ion-input class="entrada" placeholder="Contraseña" type="password" [(ngModel)]="userModel.password" formControlName="password"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="password.hasError('required') && password.touched">
                          <p>
                      *Contraseña invalida
                          </p>
                          </ion-item>

                          <ion-item class="campo">
                              <ion-input class="entrada" placeholder="Confirmar Contraseña" appConfirmEqualValidator="password" type="password" [(ngModel)]="userModel.confirmPassword" formControlName="confirmPassword"></ion-input>
                            </ion-item>
                            <ion-item *ngIf="confirmPassword.hasError('required') && confirmPassword.touched">
                              <p>
                          *Contraseña invalida
                              </p>
                              </ion-item>
                              <ion-item *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual">
                                  <p>
                              *Contraseñas no son iguales
                                  </p>
                                  </ion-item>

    <ion-item class="campo">
      <ion-input class="entrada" placeholder="Correo" type="email" [(ngModel)]="userModel.email" formControlName="email" ></ion-input>
    </ion-item>
      <ion-item *ngIf="(email.hasError('required') && email.touched)">
      <p>
*Correo es requerido
      </p>
      </ion-item>

      <ion-item class="campo">
          <ion-input class="entrada" placeholder="Número Telefonico" type="number" [(ngModel)]="userModel.numeroTelefonico" formControlName="numeroTelefonico" ></ion-input>
        </ion-item>
          <ion-item *ngIf="numeroTelefonico.hasError('required') && numeroTelefonico.touched ">
          <p>
    *Telefono es requerido
          </p>
          </ion-item>

  </ion-list>
<ion-grid>
<ion-row>
<button type="submit"  [disabled]="formGroup.invalid" ion-button full color="light" (click)="crearCuenta($event, userModel)" >
  Crear Cuenta
</button>
</ion-row>
</ion-grid>

</form>

</ion-content>
