page-negocio-editar-producto {

        .titulo{
            margin: 30px 0;
            display: flex;
            justify-content: space-evenly;
        }
    
        .titulo img{
            height: 20%;
            width: 20%;
        }
    
        h3{
            padding: 10px;
        }
    
        .producto{
            position: relative;
        }
    
        .imgPro{
            width: 200px;
            margin: 35px auto 30px auto;
            display: block;
        }
    
        .camara{
            position: absolute;
            bottom: -5%;
            right: 22%;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 0px #484444;
        }
    
        .icono{
            font-size: 5rem;
        }
    
        .campo{
            border: none!important;
        }
    
        .item-inner{
            border: none!important;
        }
    
        .entrada{
            border: 1px solid #9c9898;
            margin-bottom: 20px;
            border-radius: 6px;
        }
    
        .text-input{
            text-align: center;
        }
    
        .logo{
            margin-top: 10%;
          }
    
    
    

}
