page-inicio {

    .user{
        display: flex;
    }

    .imgUser{
        margin: 0 auto;
        width: 150px;
        height: 150px;
        display: block;
        position: relative;
        border-radius: 50%;
    }

    .nomCliente{
        width: 50%;
        align-self: center;
        font-size: 2rem;
    }

    .opcion{
        border: none!important;
    }

    .item-inner{
        border: none!important;
    }

}
