page-pedidos-entregados {



    .user{
        display: flex;
    }
    
    .imgUser{
        width: 30%;
        height: 30%;
        margin: 20px auto 25px auto;
    }
    
    .nomCliente{
        width: 50%;
        align-self: center;
        font-size: 2rem;
    }
    
    .titNeg{
        padding: 0 0 10px 20px;
        margin: 5px 0 10px 0;
    }
    
      .contNeg{
        margin-bottom: 20px;
        border: none!important;
      }
    
      .logo img{
        width: 80px;
        height: 80px;
      }
    
      .nombreNeg{
        font-size: 1.7rem;
    
      }
    
      .item-inner{
        border: none!important;
      }
    
      .contenedorEstrellas{
        margin-top: 15px;
      }
    
      .estrella{
        color: #FDC300;
        font-size: 23px;
      } 
    
      .more{
        font-size: 3.5rem;
        font-weight: bold;
      }


}
