page-negocio-detalle-editar {

    .contBanner{
        position: relative;
    }
    
    .logo{
        position: absolute;
        bottom: -30%;
        left: 0;
        right: 0;
        width: 35%;
        margin: 0 auto;
    }

    .contLogo{
        margin-bottom: 30%;
    }

    .camaraBanner{
        position: absolute;
        bottom: -15%;
        right: 4%;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px #484444;
    }
    .camaraLogo{
        position: absolute;
        bottom: -45%;
        right: 22%;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px #484444;
    }


    .icono{
        color: #494a50;
        font-size: 42px;
    }

    .campo{
        border: none!important;
    }

    .item-inner{
        border: none!important;
    }

    .entrada{
        border: 1px solid #9c9898;
        margin-bottom: 20px;
        border-radius: 6px;
    }

    .text-input{
        text-align: center;
    }

 

}
